* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  background: #ffffff;
  height: 100%;
}

h2 {
  font-family: "OpenSans Bold";
  color: #39474E;
}
h3 {
  font-family: "OpenSans Bold";
  color: #39474E;
}

h4 {
  font-family: "OpenSans Bold";
  color: #39474E;
}
h5 {
  font-family: "OpenSans Bold";
  color: #39474E;
}

p {
  font-family: "OpenSans Regular";
  color: #5A707B;
}

/* Global CSS */

.App-Header {
  padding: 10px 14px;
  position: fixed;
  height: 52px;
  width: 100%;
  background: white;
}

.App-Body {
  padding: 20px;
  position: absolute;
  z-index: -1;
  width: 100%;
}

@media (min-height:360px){
  .App-Body{
    padding: 20px;
    padding-bottom: 90px;
  }
}

.App-Footer {
  padding: 0px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #ffffff;
}

.Icon-Left {
  float: left;
  color: #5A707B;
}

.Icon-Right {
  float: right;
  color: #5A707B;
}

.App-Body.display-block {
  display: block;
  height: 100%;
  overflow: hidden;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9BA2A5;
  z-index: 3;
  border-radius: 0;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.col-1 {
  width: 15%;
  padding: 10px 8px;
}

.col-2 {
  width: 75%;
  padding: 8px 5px;
}

.col-3 {
  width: 10%;
  padding-left: 6px;
  padding-top: 5px;
}

.drawer-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  margin: 80vh auto;
}

@media (max-width: 768px) {
  .drawer-modal {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.button-title-color {
  text-align: center;
  padding-top: 16px;
  color: #5a707b;
  font-size: 16px;
  font-family: "OpenSans Bold";
}
.button-title {
  text-align: center;
  padding-top: 16px;
  color: #fff;
  font-size: 16px;
  font-family: "OpenSans Bold";
}

.popup-button {
  height: 60px;
  border-radius: 8px;
  margin: 18px 0px;
  border: 1px solid #5A707B;
}

.popup-button-title {
  text-align: center;
  padding-top: 16px;
  color: #5a707b;
  font-size: 16px;
  font-family: "OpenSans Bold";
}

.pop-modal {
  height: fit-content;
  text-align: center;
  width: 90%;
  background-color: white;
  padding: 33px 22px;
  border-radius: 16px;
}

.center-modal {
  width: 200px;
  height: 200px;
  background: white;
}

.popup-body {
  margin-top: 60px;
  margin-bottom: 24px;
  text-align: center;
  font-family: "OpenSans Bold";
  color: #39474e;
  line-height: 24px;
}

.popup-question {
  font-size: 15px;
  color: #5a707b;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 28px;
}

