.header-title {
  font-size: 14px;
  margin-top: 6px;
}

.qr-subtitle {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 14px;
}

.account-name {
  margin-bottom: 5px;
  font-family: "OpenSans SemiBold";
  color: #9ba2a6;
}

.account-number {
  margin-bottom: 5px;
  font-size: 14px;
}

.account-amount {
  margin-bottom: 5px;
}

.card-name{
    margin-bottom: 5px;
    font-family: "OpenSans SemiBold";
    font-size: 17px;
}

.card-number{
    margin-bottom: 5px;
    font-size: 15px;
}
