.hand-logo{
    width: 100%;
    height: 100px;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.center{
    width: fit-content;
    margin: 14px auto;
}



.text-title{
    text-align: center;
    margin-bottom: 12px;
    color: #39474E;
}

.text-subtitle{
    text-align: center;
    font-size: 14px;
    margin-bottom: 26px;
    line-height: 20px;
    color: #5A707B;
}

.card-title{
    margin-bottom: 10px;
    font-family: "OpenSans Bold";
    color: #39474E;
}

.card-subtitle{
    font-size: 12px;
    color: #5A707B;
}

.center-modal{
    width: 200px;
    height: 200px;
    background: white;
}

.popup-body{
    margin-top: 60px;
    margin-bottom: 24px;
    text-align: center;
    font-family: "OpenSans Bold";
    color: #39474E;
    line-height: 24px;
}

.popup-question{
    font-size: 15px;
    color: #5A707B;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 28px;
}
