.info {
  background: #f2f5f6;
  padding: 16px;
  border-radius: 10px;
  margin: 20px 0px;
}

.info-message{
    font-size: 15px;
}

.header {
  border-bottom: 1px solid #DCE2E5;
  padding: 28px 20px;
}

.inside {
  padding: 10px 20px;
  background-color: white;
}

.list-modal-left{
    width: 90%;
    margin: 18px 0px 28px;
}

.list-modal-right{
    width: 10%;
    padding-top: 18px;
}

.chevron-icon{
    margin-top: -20px;
}

.select-font{
    color: #6B8592;
}

.select-title{
    margin-top: 22px;
    margin-bottom: 10px;
}