.header-title {
  font-size: 14px;
  margin-top: 6px;
  color: #5a707b;
}

.box-info-left {
  width: 50%;
  margin-top: 50px;
}

.box-info-right {
  width: 50%;
  margin-top: 50px;
}

.row {
  display: flex;
}

.title-1 {
  font-size: 15px;
  margin-bottom: 8px;
}

.title-2 {
  margin-bottom: 8px;
}

.title-3 {
  font-size: 15px;
}
