body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'OpenSans Bold';
  src: local('OpenSansBold'), url(./assets/fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans Regular';
  src: local('OpenSansRegular'), url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans SemiBold';
  src: local('OpenSansSemiBold'), url(./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans Light';
  src: local('OpenSansLight'), url(./assets/fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}
