.Header-Title {
  text-align: center;
  margin-top: 10px;
  margin-right: 18px;
  font-family: "OpenSans Regular";
  font-size: 15px;
  color: #5b717c;
}

.Icon {
  margin-top: 12px;
  margin-left: 8px;
}

.Switch-Card {
  padding-top: 60px;
  display: flex;
  margin-bottom: 22px;
}

.Left-Card {
  width: 85%;
}

.Right-Card {
  width: 15%;
  margin-top: -2px;
}

.small-font {
  font-family: "OpenSans Regular";
  font-size: 14px;
  color: #5a707b;
}

.semi-font {
  font-family: "OpenSans SemiBold";
  color: #39474E;
  margin-bottom: 8px;
}

.Border-Line{
    border-bottom: 12px solid #F8FBFB;
    margin-left: -20px;
    margin-right: -20px;
}

.List-Menu{
    display: flex;
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid #DCE2E5;
}

.Button-Color{
    border: 1px solid;
    width: 100%;
    margin-left: auto;
    padding: 16px;
    margin-right: auto;
    margin-bottom: 16px;
    background: linear-gradient(90deg, rgba(21,173,175,1) 0%, rgba(33,210,163,1) 100%);
    color: white;
    font-family: "OpenSans Bold";
    border-radius: 8px;
}

.Button-Plain{
    border: 1px solid;
    width: 100%;
    margin-left: auto;
    padding: 16px;
    margin-right: auto;
    font-family: "OpenSans Bold";
    border-radius: 8px;
    color: #5A707B;

}

.Header-Popup{
    text-align: end;
    margin-right: 0px;
    margin-top: -12px;
}